concurrent = {{ gitlab_runner_concurrent }}
check_interval = {{ gitlab_runner_check_interval }}

[session_server]
 session_timeout = {{ gitlab_runner_session_timeout }}

[[runners]]
 name = "{{ ansible_hostname }}"
 url = "{{ gitlab_runner_url }}"
 token = "{{ gitlab_runner_token }}"
 executor = "docker"
 [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/cache"]
    shm_size = 0
